



body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





#main-div {
    /* box-sizing: border-box; */
    margin-top: 35px;
    padding-top: 40px;
}

/* #main {

} */

#heading {
    text-align: center;
    padding: 15px;
    margin-bottom:-10px;

}

h1, .honorary-title {
    text-align: center;
}

h1 {
    text-shadow: 2px 2px 3px #d9d9d9;
    
}

.honorary-title {
    font-style: italic;
}

.grid-container {
    Display: grid;
    /* column-gap: 5px; */
    grid-template-columns: 40% 60%;
    margin: 40px;
    
}

#image {
    max-width: 100%;
}

/* .grid2-container > img {
    width: auto;
    height: 10%;
} */

img{
    display: block;
}


/* .item1 {
    grid-area: img1;
}

.item2 {
    grid-area: img2;
}

.item3 {
    grid-area: img3;
}

.item4 {
    grid-area: img4;
}

.item5 {
    grid-area: img5;
}

.item6 {
    grid-area: img6;
}

.item7 {
    grid-area: img7;
} */

.grid2-container {
    display: grid;
    padding: 0px;
    margin: 0px;
    grid-template-columns: auto auto auto;
    /* grid-template-areas: 'img1 img2 img2' 'img1 img3 img 4' 'img5 img3 img6' 'img7 . img6'; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); */
    /* grid-auto-rows: minmax(100px, auto); */
    gap: 20px;
    padding: 10px;
    overflow: hidden;

}

.grid2-container >figure > img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* #tribute-life {
    margin: 60px;
}

#img-div {
    width: 40%;
    float: left;
}

#tribute-info{
    width: 60%;
    float: right;

} */

#tribute-life::after {
    content: "";
    display: table;
    clear: both;
}
p {
    font-size: 1.6;
}

#head-img > img {
    width: 100%;
    height: 300px;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: black;
}

.footer {
    height: 6em;
    
    background-color: #273469;
    color: #fafaff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer > p {
    padding-top: 10px;
}

.source{
    font-size: 0.5em;
}